<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kiki_robot">

  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find kiki_description)/urdf/kiki.materials.xacro" />
  <xacro:include filename="$(find kiki_description)/urdf/kiki_description.urdf.xacro" />

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find kiki_control)/plugin/kikibot.ros2_control.xacro" />

  <xacro:kiki_desc_urdf prefix="$(arg prefix)" />

  <xacro:kiki_ros2_control name="" prefix="$(arg prefix)" />

</robot>
