<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kiki_robot">

  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find kiki_description)/urdf/kiki.materials.xacro" />
  <xacro:include filename="$(find kiki_description)/urdf/kiki_description.urdf.xacro" />

  <!-- Import diffbot ros2_control description -->
  <!-- <xacro:include filename="$(find diffdrive_arduino)/ros2_control/diffbot.ros2_control.xacro" /> -->

  <!-- <xacro:kiki prefix="$(arg prefix)" /> -->

  <!-- <xacro:diffbot_ros2_control
    name="DiffBot" prefix="$(arg prefix)" /> -->

</robot>
